$ git status

sigame/temp/GMC/emission/*.gas
sigame/temp/dif/emission/*.gas

sigame/temp/z0_data_files/datacubes/*
sigame/temp/z0_data_files/particle_data/ISM_data/*

plots/**

sigame/temp/params.npy

.DS_store

*.pyc


